/* Google Fonts */
.noto_serif_normal {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter_normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* Shared Styles */

main {
    max-width: 1140px;
    margin: 0 auto;
}

main>section {
    margin-top: 120px;
}

.inter22_reg {
    font-size: 1.38rem;
    color: rgba(0, 0, 0, 0.5);
}

.noto_serif50_bold {
    font-size: 3.13rem;
    color: #000000;
    font-weight: bold;
}

.span_text {
    color: #E95A08;
}

/* navbar style */

header {
    margin-top: 15px;
}

.menu ul li a {
    color: #8987A1;
}

.menu ul li a:hover {
    color: #252432;
    font-weight: bold;
    transition: .3s;
}

.cart button {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.cart button:hover {
    background-color: #E95A08;
    transition: .3s;
}

.cart button:hover i,
.cart button:hover span {
    color: #fff;
}

/* banner section style */

.banner_container h1 {
    font-weight: bold;
    font-size: 4.0625rem;
    color: #000000;
}

.fresh_flowers {
    color: #E95A08;
}

.banner_img {
    width: 100%;
}

/* flower card styles */

.flower_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 20px;
    margin-top: 40px;
}

.flwr_card img {
    border-radius: 5px;
}

.btn_card button {
    border-radius: 5px;
    width: 100%;
    background-color: #E95A08;
    padding: 15px 30px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.flwr_name_price {
    margin: 20px auto;
}

.flwr_name,
.flwr_price {
    font-size: 1.38rem;
    font-weight: 500;
    color: #111111;
}

.flwr_price {
    font-weight: bold;
}

/* plants lover section */

.trusted_badge {
    position: relative;
    width: 285px;
    height: 285px;
    margin-left: 380px;
    margin-bottom: -150px;
    filter: drop-shadow(-4px 10px 2px rgba(0, 0, 0, 0.25))
}

.plants_lover_title_subTitle {
    padding: 38px 0px 38px 60px;
}

.plants_lover_title_subTitle ol li {
    margin-top: 20px;
    margin-left: 50px;
}

/* ********************Challenge Part********************** */
.offer_section {
    display: flex;
    gap: 25px;
}

.left_column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}

.offer_box {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.offer_box::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    border-radius: 14px;
}

.offer_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 15px;
}

.overlay_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2;
}

.overlay_text h3 {
    font-size: 1.16rem;
    font-weight: bold;
}

.big_box h3 {
    font-size: 2rem;
    font-weight: bold;
}

.big_box a {
    font-size: 1.35rem;
    font-weight: 600;
}

/* ****************************************** */

/* Join section style */

.subscribe_section {
    background-image: url('../assets/news-letter-bg.png');
    background-size: cover;
    background-position: center;
    padding: 120px 30px;
    text-align: center;
    color: white;
    position: relative;
    margin-top: 100px;
}

.subscribe_section::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(7, 51, 79, 0.4);
    z-index: 0;
}

.subscribe_content {
    position: relative;
    z-index: 1;
    max-width: 700px;
    margin: 0 auto;
}

.subscribe_content h2 {
    font-size: 3.12rem;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.subscribe_form {
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    background: white;
}

.subscribe_form input {
    flex: 1;
    padding: 12px;
    font-size: 1rem;
    border: none;
    outline: none;
}

.subscribe_form input::placeholder {
    color: #999;
}

.subscribe_form button {
    background-color: #E95A08;
    color: white;
    padding: 0 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

/* Footer section styles */

.footer {
    margin: 50px 150px 30px 150px;
    display: flex;
    justify-content: space-between;
}

.footer_logo img {
    margin-bottom: 15px;
}

.footer ul {
    color: #6B7280;
}

.footer_links li {
    margin-bottom: 25px;
}

.footer_links li:hover {
    color: #252432;
    font-weight: bold;
    transition: .3s;
}

.footer_icon {
    display: flex;
    gap: 24px;
    margin-left: 0px;
}

.footer_icon img {
    width: 36px;
    height: 36px;
    padding: 5px;
}
















/* 
****
***
**
* */

/* Responsive part */
/* Responsive for small device */

@media screen and (max-width: 576px) {
    main>section {
        margin: 50px 20px 0px 20px;
    }

    nav {
        margin: 0px 20px;
    }

    .menu ul {
        display: none;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner_container {
        width: 100%;
    }

    .banner_container h1 {
        font-size: 2.0625rem;
    }

    .banner_img {
        width: 100%;
    }

    .noto_serif50_bold {
        font-size: 1.8rem;
        color: #000000;
    }

    .inter22_reg {
        font-size: 14px;
    }

    .flower_cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
        column-gap: 20px;
        margin-top: 40px;
    }

    .flwr_name,
    .flwr_price {
        font-size: 1rem;
        font-weight: 500;
        color: #111111;
    }

    .flwr_price {
        font-weight: bold;
    }

    .trusted_badge {
        display: none;
    }

    .plants_lover_title_subTitle {
        padding: 0px;
    }

    .plants_lover_title_subTitle ol li {
        margin-top: 10px;
        margin-left: 30px;
    }

    .offer_section {
        flex-direction: column;
    }

    .left_column {
        width: 100%;
    }

    .subscribe_content {
        max-width: 400px;
    }

    .subscribe_content h2 {
        font-size: 2rem;
    }

    .footer {
        flex-direction: column;
        gap: 0px;
        margin-left: 15px;
    }

    .footer_logo {
        margin-bottom: 20px;
    }

    .big_box h3 {
        font-size: 1.3rem;
        font-weight: bold;
    }

    .big_box a {
        font-size: 1.1rem;
        font-weight: 500;
    }
}